{{new_post | json}}
<img *ngIf="new_post" [src]="new_post.imagePath" alt="">
<mat-card>
  <form [formGroup]="addPostForm" (submit)="submit()"> 
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Post Title"
        formControlName="title"
      />
      <mat-error *ngIf="addPostForm.get('title').invalid"
        >Please enter a post title.</mat-error
      >
    </mat-form-field>

    <div class="image_selection">
      <div class="image-preview" *ngIf="addPostForm.get('image').valid && imagePreview && imagePreview !== null">
        <img [src]="imagePreview" alt="">
      </div>
      <button type="button" class="mat-button" (click)="filePicker.click()">Choose File</button>
      <input type="file" #filePicker (change)="onImagePick($event)"/>

      <mat-error *ngIf="imagePreview && addPostForm.get('image').invalid">Please enter a valid image file.</mat-error>

    </div>
    <mat-form-field>
      <textarea
        matInput
        type="text"
        formControlName="content"
        placeholder="Post Content"
      ></textarea>
      <mat-error *ngIf="addPostForm.get('content').invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>
